.container {
    overflow   : auto;
    max-height : 100dvh;
    display    : flex;
    padding    : 10px;

    &.top {
        flex-direction : column;
    }

    &.bottom {
        flex-direction : column-reverse;
    }

    .content {
        height         : 999999px;
        display        : flex;
        flex-direction : column;
    }
}